.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.banner h1 {
  color: var(--color-white);
  font-size: var(--fontSize-7);
  text-shadow: var(--text-shadow);
}

.banner__text {
  color: var(--color-white);
  font-size: var(--fontSize-3);
  text-shadow: var(--text-shadow);
  max-width: 45rem;
}

.banner .button {
  font-size: var(--fontSize-2);
}

.banner .button_icon {
  width: calc(2.7 * var(--fontSize-1));
}
