/* all the element styles go here */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-relaxed);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background: var(--color-white);
}

::selection {
  color: #fff;
  background-color: var(--color-primary);
  text-shadow: 1px 1px 2px #121248, 0 0 1em #121248, 0 0 0.2em #121248;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: var(--lineHeight-normal);
  letter-spacing: -0.025em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: 0 0 1em 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-link);
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  cursor: pointer;
}
