@import "./variables.css";
@import "./atoms.css";
@import "./external.css";

.hidden {
  display: none !important;
}

.text-container {
  max-width: 45rem;
  margin-inline: auto;
}

/* HTML elements */

.button_transparent {
  background-color: transparent;
  border: transparent;
}

/* Custom classes */
.button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
