@import "./variables.css";
@import "./atoms.css";
@import "./external.css";

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center !important;
}

.text-container {
  max-width: 45rem;
  margin-inline: auto;
}

.display-md {
  display: none;
}

/* HTML elements */

.button_transparent {
  background-color: transparent;
  border: transparent;
}

/* Custom classes */
.button-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.button-wrap_footer {
  justify-content: center;
  margin-top: calc(3 * var(--flexible-base2));
}

.section-title-wrap {
  text-align: center;
  margin-bottom: calc(4 * var(--flexible-base2));
}

.section-subtitle {
  font-size: var(--fontSize-2);
}

.alt-color {
  background-color: var(--color-accent);
}

/* form */
.form {
  width: 100%;
  text-align: left;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

.form .button-wrap {
  margin-top: 0;
}

.form__section-title {
  margin-bottom: -0.25rem;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__label {
  padding-bottom: 0.375em;
}

.form__input {
  color: inherit;
  background-color: var(--color-white);
  padding: 0.5em 0.75em;
  border: 1px solid var(--color-secondary);
  border-radius: 0.25em;
  transition: border-color 0.3s ease-in;
}

.form__input:focus {
  border-color: var(--color-primary);
  outline: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  margin-bottom: 0.25em;
}

.col-md-wide {
  grid-column: 1/-1;
}

.form__main-error {
  color: #cb0202;
  margin-bottom: 0;
}

.form__unit-error {
  font-size: var(--fontSize-0);
  color: #cb0202;
}

.form-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100% + 1rem);
  background: var(--color-white);
  height: calc(100% + 1rem);
  padding: 1rem;
  position: absolute;
  left: -0.5rem;
  top: 0;
  z-index: 10;
}

.form-success__icon {
  width: 6rem;
  margin-bottom: 1rem;
}

.form-success__close {
  background: transparent;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: none;
}

.form-success__close-icon {
  width: 2rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
  gap: calc(3 * var(--flexible-base));
  justify-content: center;
}

@media (min-width: 64rem) {
  .display-md {
    display: block;
  }

  .grid2 {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
