@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Libre+Baskerville:wght@400;&display=swap");

/* @font-face {
  font-family: "GoogleSans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("GoogleSans-Regular"), local("GoogleSans"),
    url(../fonts/GoogleSans-Regular.woff2) format("woff");
}
@font-face {
  font-family: "GoogleSans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("GoogleSans-Bold"), local("GoogleSans"),
    url(../fonts/GoogleSans-Bold.woff2) format("woff");
} */

:root {
  --fontFamily-sans: Figtree, sans-serif;
  --fontFamily-serif: "Libre Baskerville", serif;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-serif);

  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;

  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.3;
  --lineHeight-relaxed: 1.5;

  /* 1.200 Major Second Type Scale */
  --fontSize-0: 0.889rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.125rem;
  --fontSize-3: 1.266rem;
  --fontSize-4: 1.424rem;
  --fontSize-5: 1.602rem;
  --fontSize-6: 1.802rem;
  --fontSize-7: 2.027rem;

  --maxWidth-wrapper: 80rem;

  --flexible-base: 0.5rem;
  --flexible-base2: 0.5rem;

  --color-primary: #0a0e67;
  --color-primary-opacity: #0a0e67aa;
  --color-primary-light: #202ae9;
  --color-secondary: #1eaeff;
  --color-secondary-light: #85d2ff;
  --color-text: #223;
  --color-black: #222;
  --color-white: #fff;
  --color-heading: var(--color-primary);
  --color-link: var(--color-primary);
  --color-accent: #e2eeff;
  --text-shadow: 2px 2px 0.2em #000a;
}

@media (min-width: 48rem) {
  :root {
    /* 1.200 Minor Third Type Scale */
    --fontSize-0: 1rem;
    --fontSize-1: 1.125rem;
    --fontSize-2: 1.35rem;
    --fontSize-3: 1.64rem;
    /* --fontSize-4: 1.94rem; */
    --fontSize-4: 1.8rem;
    --fontSize-5: 2.33rem;
    --fontSize-6: 2.8rem;
    --fontSize-7: 3.36rem;

    --flexible-base: 0.625rem;
    --flexible-base2: 0.625rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --flexible-base: 0.75rem;
    --flexible-base2: 0.875rem;
  }
}
