.card-list {
  --column-size: minmax(auto, 25rem);
  list-style: none;
  display: grid;
  grid-gap: calc(3 * var(--flexible-base));
  grid-template-columns: var(--column-size);
  justify-content: center;
  margin-top: calc(8 * var(--flexible-base));
}

.card-list__li {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, var(--column-size));
  }
}

@media (min-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(3, var(--column-size));
  }
}
