.card {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .swiper-slide {
  display: flex;
  position: relative;
  padding-top: 66.66%;
}

.card__image {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.card__text-wrap {
  padding: 1rem;
  background: var(--color-accent);
}

.card__title {
  margin-bottom: 0.25rem;
}

.card p {
  font-size: var(--fontSize-0);
  line-height: 1.3;
}
