.headroom-wrapper {
  /* height: 82px !important; */
}

.headroom {
  z-index: 100 !important;
}

.nav {
  background-color: var(--color-secondary);
  background: linear-gradient(
    135deg,
    var(--color-secondary-light) 0%,
    var(--color-secondary) 80%
  );
}

.nav__inner-wrap {
  width: 100%;
  max-width: var(--maxWidth-wrapper);
  padding: 1rem calc(2 * var(--flexible-base2));
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav .button_menu {
  color: var(--color-secondary);
  background-color: var(--color-white);
}

.nav__link-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav__primary-link {
  display: flex;
  width: 13rem;
}

.nav__link-a {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-white);
  display: block;
  padding: 0.375em 0.75em;
  box-shadow: inset 0 0 0 var(--color-white);
}

.nav__link-a_active,
.nav__link-a:focus,
.nav__link-a:hover,
.nav__link-a:active {
  color: var(--color-secondary);
  border-radius: 0;
  box-shadow: inset 0 -2.875em 0 var(--color-white);
}

@media (max-width: 47.9375rem) {
  .nav__link-a {
    padding: 0.75em 1rem;
  }

  .nav__link-ul {
    background-color: var(--color-secondary);
    height: 1px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    top: 1rem;
    left: 0;
    margin: 0 -1rem;
    z-index: 100;
    justify-content: flex-start;
    transition: height 0.4s cubic-bezier(0.15, 0.96, 0.65, 1.15);
  }

  .nav__link-ul_hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.15, 0.96, 0.65, 1.15);
  }

  .nav__link-ul_shown {
    height: calc(100vh - 82px);
  }
}

@media (min-width: 24rem) {
  .nav__primary-link {
    width: 15rem;
  }
}

@media (min-width: 48rem) {
  .nav {
    flex-wrap: nowrap;
  }

  .nav__primary-link {
    width: 24rem;
  }

  .nav__link-ul {
    flex-direction: row;
  }

  .nav__link-li {
    margin-left: 0.75em;
  }

  .nav__link-a_active,
  .nav__link-a:focus,
  .nav__link-a:hover,
  .nav__link-a:active {
    border-radius: 0.5em;
  }

  .nav__image {
    display: none;
  }

  .button_menu {
    display: none;
  }
}
