.address {
  font-style: normal;
  display: grid;
  gap: calc(2 * var(--flexible-base2));
  grid-template-columns: 1fr;
  align-items: start;
}

.address__footer .iconButton {
  color: var(--color-white);
  transition: none;
}

.address p {
  margin-bottom: 0;
}

@media (min-width: 30rem) {
  .address {
    grid-template-columns: 1fr 1fr;
  }
}
