.footer {
  background: var(--color-primary);
  background: url("../../images/metal-sheet.jpg") center/6rem 100%;
}

.footer a {
  color: var(--color-white);
}

.footer__head {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  color: var(--color-white);
  max-width: var(--maxWidth-wrapper);
  padding: calc(4 * var(--flexible-base2)) calc(2 * var(--flexible-base2));
  margin: 0 auto;
  position: relative;
}

.footer__wrap {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__link {
  color: var(--color-white);
  text-shadow: var(--color-primary) 0 0 0.25em;
  /* background: var(--color-primary); */
  margin-bottom: 0.375em;
  border-radius: 0.125em;
  /* box-shadow: inset 0 0 0 $white; */
  display: inline-block;
  transition: color, box-shadow, 0.25s ease;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-primary);
  text-shadow: none;
  box-shadow: inset 0 -2.5em 0 var(--color-white);
}

.footer__link_secondary {
  /* font-family: $primary-font; */
  margin-left: 0.5em;
}

.button_contact {
  margin-bottom: 0.375em;
}

.footer__qr {
  max-width: 12.5rem;
  height: auto;
}

.footer__bottom {
  color: var(--color-white);
  text-align: center;
  text-shadow: var(--color-primary) 1px 0 2px;
  background: var(--color-primary);
  padding: calc(1 * var(--flexible-base2)) calc(2 * var(--flexible-base2));
}

.footer__bottom p {
  font-size: var(--fontSize-0);
}

.developedByLink {
  background: var(--color-primary);
}
