.footer {
  color: var(--color-white);
  background: var(--color-primary);
  background: url("../../images/metal-sheet.jpg") center/6rem 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__head {
  display: grid;
  align-items: start;
  gap: calc(3 * var(--flexible-base2));
  color: var(--color-white);
  max-width: var(--maxWidth-wrapper);
  padding: calc(4 * var(--flexible-base2)) calc(2 * var(--flexible-base2));
  margin: 0 auto;
  position: relative;
  text-shadow: var(--color-primary) 0 0 0.25em;
}

.footer__wrap {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(1.5 * var(--flexible-base2)) calc(2 * var(--flexible-base));
}

.footer__link {
  color: var(--color-white);
  border-radius: 0.125em;
  display: inline-block;
  transition: color, box-shadow, 0.25s ease;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-primary);
  text-shadow: none;
  box-shadow: inset 0 -2.5em 0 var(--color-white);
}

.footer__link_secondary {
  /* font-family: $primary-font; */
  margin-left: 0.5em;
}

.button_contact {
  margin-bottom: 0.375em;
}

.footer__qr-wrap {
  display: none;
}

.footer__qr {
  max-width: 11rem;
  height: auto;
}

.footer__bottom {
  color: var(--color-white);
  text-align: center;
  background: var(--color-primary-opacity);
  padding: calc(1.5 * var(--flexible-base2)) calc(2 * var(--flexible-base2));
}

.footer__bottom p {
  font-size: var(--fontSize-0);
}

.developedByLink {
  color: var(--color-secondary);
}

@media (min-width: 39rem) {
  .footer__head {
    grid-template-columns: 1fr 2fr;
  }

  .footer__links {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 64rem) {
  .footer__head {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__qr-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
