.motto {
  padding-bottom: 0;
  position: relative;
}

.motto__image {
  max-width: 13rem;
  height: auto;
  margin-top: calc(3 * var(--flexible-base2));
  display: flex;
}

@media (min-width: 45rem) {
  .motto {
  }

  .motto__inner {
    display: flex;
    margin: auto;
  }

  .motto__image-wrap {
    flex: 0 0 17rem;
    order: -1;
    align-self: end;
  }

  .motto__spacer {
    flex: 0 1 auto;
  }

  .motto .text-container {
    flex-grow: 1;
    padding-bottom: calc(8 * var(--flexible-base2));
    margin: 0;
  }

  .motto__owner-name {
    margin-bottom: 0;
  }

  .motto__image {
    max-width: unset;
    margin-top: unset;
  }
}
