.motto {
  background-color: #c8dfff88;
}

.motto__inner {
}

.motto__image {
  max-width: 13rem;
  margin-top: calc(3 * var(--flexible-base2));
}

@media (min-width: 45rem) {
  .motto__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    max-width: 62rem;
    margin: auto;
  }

  .motto__owner-name {
    margin-bottom: 0;
  }

  .motto__image {
    max-width: 15rem;
    margin-top: unset;
    margin-right: calc(2 * var(--flexible-base2));
  }
}
